@using fantasyF1.Models

@{
    ViewBag.Title = "Index";
}

<h2>List of Drivers</h2>


<img style="        width: 100%;
        margin: auto;
" src="Images\drivers.jpg" />


@if (User.IsInRole("Administrator"))
{
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Points</th>
                <th scope="col">Details</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var driver in ViewBag.Drivers)
            {
            <tr>
                <td>@driver.Name</td>
                <td>@driver.Price</td>
                <td>@driver.Points</td>
                <td><a href="/drivers/details/@driver.DriverId" class="btn btn-warning">Details</a></td>
                <td><a href="/drivers/edit/@driver.DriverId" class="btn btn-warning">Edit</a></td>
                <td><a href="/drivers/delete/@driver.DriverId" class="btn btn-danger">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Points</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var driver in ViewBag.Drivers)
        {
            <tr>
                <td>@driver.Name</td>
                <td>@driver.Price</td>
                <td>@driver.Points</td>
                <td><a href="/drivers/details/@driver.DriverId" class="btn btn-warning">Details</a></td>
            </tr>
        }
    </tbody>
</table>
}

@if (User.IsInRole("Administrator"))
{
    <a href="/drivers/create" class="btn btn-success">Create driver</a>
}

<img style="        width: 100%;
        margin: auto;
" src="Images\drivers2.jpg" />