@using fantasyF1.Models

@{
    ViewBag.Title = "Index";
}

<h2>List of Leagues</h2>

@if (User.IsInRole("Administrator"))
{
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Name of the League</th>
                <th scope="col">Prize</th>
                <th scope="col">Allowed Driver</th>
                <th scope="col">Allowed Team</th>
                <th scope="col">Allowed Motor</th>
                <th scope="col">Accepted rosters</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var league in ViewBag.Leagues)
            {
                <tr>
                    <td>@league.Name</td>
                    <td>@league.Prize</td>
                    @if (league.AllowedDriver != null)
                    {
                        <td>@league.AllowedDriver.Name</td>
                    }
                    else
                    {
                        <td>All drivers are allowed</td>
                    }
                    @if (league.AllowedTeam != null)
                    {
                        <td>@league.AllowedTeam.Name</td>
                    }
                    else
                    {
                        <td>All teams are allowed</td>
                    }
                    @if (league.AllowedMotor != null)
                    {
                        <td>@league.AllowedMotor.Name</td>
                    }
                    else
                    {
                        <td>All motors are allowed</td>
                    }
                    <td><a href="/leagues/details/@league.LeagueId" class="btn btn-warning">Accepted Rosters</a></td>
                    <td><a href="/leagues/delete/@league.LeagueId" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Name of the League</th>
                <th scope="col">Prize</th>
                <th scope="col">Allowed Driver</th>
                <th scope="col">Allowed Team</th>
                <th scope="col">Allowed Motor</th>
                <th scope="col">Accepted rosters</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var league in ViewBag.Leagues)
            {
                <tr>
                    <td>@league.Name</td>
                    <td>@league.Prize</td>
                    @if (league.AllowedDriver != null)
                    {
                        <td>@league.AllowedDriver.Name</td>
                    }
                    else
                    {
                        <td>All drivers are allowed</td>
                    }
                    @if (league.AllowedTeam != null)
                    {
                        <td>@league.AllowedTeam.Name</td>
                    }
                    else
                    {
                        <td>All teams are allowed</td>
                    }
                    @if (league.AllowedMotor != null)
                    {
                        <td>@league.AllowedMotor.Name</td>
                    }
                    else
                    {
                        <td>All motors are allowed</td>
                    }
                    <td><a href="/leagues/details/@league.LeagueId" class="btn btn-warning">Accepted Rosters</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@if (User.IsInRole("Administrator"))
{

    <a href="/leagues/refresh/" class="btn btn-warning">Update entries</a>
    <a href="/leagues/create/" class="btn btn-success">Create league</a>
}
